*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
}

.button-group, .play-area {
  border: 1px solid grey;
  padding: 1em 1%;
  margin-bottom: 1em;
}

.button {
  padding: 0.5em;
  margin-right: 1em;
}

.play-area-sub {
  width: 47%;
  padding: 1em 1%;
  display: inline-block;
  text-align: center;
}

#stream {
  border: 2px solid red;
}

#capture {
  display: none;
  border: 2px solid rebeccapurple;
}

#snapshot {
  display: inline-block;
  width: 320px;
  height: 240px;
  border: 2px solid black;
}

#reader {
  display: none;
}